#fejlec{
    background: url(header_bg.png);
    background-size: cover;
    min-height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
#bar{
    background: #0e6eeb;
    min-height: 60px;
    position: fixed;
    top: 114px;
    left: 0;
    width: 100%;
    color: white;
}
#lablec{
    background: #090741;
    min-height: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}
#copyright{
    max-width: 40px;
    max-height: 40px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
}
#copy{
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
a:link, a:active, a:visited{
    color: white;
    text-decoration: none;
}
#szoveg{
    position: fixed;
    top: 180px;
}
#tablazat{
    position: fixed;
    left: 60%;
    top: 180px;
    margin-right: 100px;
}
img{
    max-height: 40px;
}
#mail{
    position: fixed;
    left: 140px;
    top: 125px;
}
#connection{
    position: fixed;
    left: 190px;
    top: 135px;
}
#group_add{
    position: fixed;
    left: 280px;
    top: 125px;
}
.register{
    position: fixed;
    left: 340px;
    top: 135px;
}
#home{
    position: fixed;
    top: 125px;
    left: 10px;
}
#home_page{
    position: fixed;
    left: 60px;
    top: 135px;
}
#register_cim{
    position: fixed;
    left: 45%;
    top: 200px;
    right: 45%;
}
#nev{
    position: fixed;
    top: 250px;
    left: 45%;
}
#jelszo{
    position: fixed;
    top: 320px;
    left: 45%;
}
input{
    border-radius: 4px;
}